[Xfce Panel]
Type=X-XFCE-PanelPlugin
Encoding=UTF-8
Name=Sample1 Plugin
Comment[ar]=نموذج المكون الإضافي لشريط xfce
Comment[be]=Узор убудовы для панэлі Xfce
Comment[bg]=Примерна добавка за панела на Xfce
Comment[ca]=Connector de mostra per al tauler de Xfce
Comment[cs]=Ukázkový zásuvný modul pro panel Xfce
Comment[da]=Prøve-plugin til Xfce-panelet
Comment[de]=Beispielerweiterung für die Xfce Leiste
Comment[el]=Πρότυπο πρόσθετο για το Xfce panel
Comment[en_AU]=Sample plugin for the Xfce panel
Comment[en_CA]=Sample plugin for the Xfce panel
Comment[en_GB]=Sample plugin for the Xfce panel
Comment[es]=Ejemplo de complemento para el panel de Xfce
Comment[et]=Pistikprogrammi näidis Xfce riba jaoks
Comment[eu]=Xfce panelerako ereduzko plugina
Comment[fi]=Esimerkkiliitännäinen Xfce:n paneelille
Comment[fr]=Exemple de greffon pour le tableau de bord Xfce
Comment[ga]=Breiseán samplach don phainéil Xfce
Comment[gl]=Exemplo de engadido para o panel Xfce
Comment[he]=תוסף דוגמית עבור לוח Xfce 
Comment[hi]=Xfce पैनल हेतु एक नमूना प्लगिन
Comment[hr]=Primjer priključka za Xfce ploču
Comment[hu]=Példa bővítmény az Xfce panelhez
Comment[hy_AM]=Ներդրաւնի նմուշ Xfce վահանակի համար
Comment[hye]=Ներդրաւնի նմուշ Xfce վահանակի համար
Comment[id]=Contoh pengaya untuk panel Xfce
Comment[ie]=Un specimen de un plugin del panel Xfce
Comment[is]=Sýnisviðbót fyrir Xfce skjástikur
Comment[it]=Componente aggiuntivo di esempio per il pannello di Xfce
Comment[ja]=Xfce パネル向けサンプルプラグイン
Comment[ko]=Xfce 패널 샘플 플러그인
Comment[lt]=Pavyzdinis įskiepis, skirtas Xfce skydeliui
Comment[ms]=Pemalam sampel untuk panel Xfce
Comment[nb]=Eksempel-programtillegg for Xfce-panelet
Comment[nl]=Voorbeeldinvoegsel voor de Xfce-werkbalk
Comment[pl]=Przykładowa wtyczka dla panelu Xfce
Comment[pt_BR]=Plug-in de exemplo para o painel do Xfce
Comment[pt]=Plugin amostra para o painel Xfce
Comment[ru]=Пример модуля для панели Xfce
Comment[sk]=Ukážkový zásuvný modul pre Xfce panel
Comment[sl]=Primer vtičnika za Xfce pano
Comment[sq]=Shtojcë shembull për panelin Xfce
Comment[sr]=Прикључак узорак за полицу Иксфце-а
Comment[sv]=Exempelinsticksprogram för Xfce-panelen
Comment[tr]=Xfce paneli için örnek eklenti
Comment[uk]=Прикладовий плагін для панелі Xfce
Comment[zh_CN]=Xfce面板的示例插件
Comment[zh_TW]=Xfce 面板的樣本外掛程式
Comment=Sample plugin for the Xfce panel
Icon=xfce4-sample-plugin
X-XFCE-Module=sample
X-XFCE-Internal=false
X-XFCE-Unique=false
X-XFCE-API=2.0
